
a {
	text-decoration: none;
	color: #333;
	font-weight: 600;
}

body {
	margin: 0;
	padding: 0;
	background-image: url('../img/background.jpg');
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.topStripe {
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-image: url('../img/topStripe.png');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 1px 1px 6px #888;
}

.header {
	width: 960px;
	margin: 5px auto 0 auto;
}

nav {
	top: 60px;
	position: absolute;
	display: inline-block;
	height: 30px;
	padding-left: 30px;
	float: right;
}

nav ul {
	display: none;
	position: absolute;
	list-style: none;
	margin: 4px 0px 0px -15px;
	padding: 0px;
	background-color: #FFF;
	min-width: 90px;
	border: 1px solid #CCC;
	border-radius: 0 0px 2px 2px;
}

nav ul > li {
	width: 200px;
	padding: 4px 0px 4px 5px;
	z-index: 999;
}

nav li:hover > ul {
	display: block;
}

nav ul > li:hover {
	background-color: #F5F5F5;
}

nav > li {
	z-index: 999;
	list-style: none;
	margin-left: -8px;
	position: relative;
	background-color: #FFF;
	padding: 4px 14px;
	color: #222;
	font-weight: 600;
	height: 30px;
	vertical-align: center;
	line-height: 30px;
	border: 1px solid #CCC;
	border-right: 0;
	display: block;
	float:left;
	margin: 0;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}

nav > li:first-child {
	border-radius: 4px 0 0 4px;
}

nav > li:last-child {
	border-right: 1px solid #CCC;
	border-radius: 0 4px 4px 0;
}

nav > li:hover {
	background-color: #F5F5F5;
	cursor: pointer;
}

.topHeadPane {
	float: right;
	display: inline-block;
}

.topHeadPane > .button {
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	background-color: #000;
	color: #FFF;
	border-radius: 4px;
	padding: 4px 6px;
	cursor: pointer;
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

.topHeadPane > .button:hover {
	background: black;
}

.searchBar {
	width: 190px;
	display: inline-block;
	margin: 10px 0 0 15px;
	background-color: #FFF;
	border: 1px solid #AAA;
	padding: 8px 10px;
	border-radius: 6px;
	background-image: url('../img/magnify-glass.png');
	background-repeat: no-repeat;
	background-position: right 5px center;
	background-size: 8%;
	font-size: 13px;
}

.logo {
	width: 140px;
	height: 100px;
	display: inline-block;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.slideshowImage {
	width: 960px;
	height: 430px;
	margin: 0 auto 0 auto;
	text-align: center;
	border: 2px solid #AAA;
	border-radius: 6px;
}

figcaption {
	font-size: 18px;
}

.slideshowImage img {
	width: 960px;
	height: 430px;
}

body > .content {
	width: 960px;
	background-color: #FFF;
	margin: 10px auto 0 auto;
	min-height: 300px;
	border: 2px solid #DDD;
	border-top: 0;
	border-bottom: 0;
	box-shadow: 5px 5px 6px #BBB, -5px 5px 6px #BBB;
	padding: 20px 30px;
}

body > .content p {
	text-indent: 30px;
}

body > .content > .mainPane {
	display: inline-block;
	width: 60%;
	vertical-align: top;
	border-right: 1px solid #CCC;
	padding: 0 15px;
}

body > .content > .rightPane {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	padding: 0 15px;
	text-align: center;
}

.classAd {
	background-color: #F5F5F5;
	padding: 8px 5px;
	text-align: center;
	min-height: 100%;
	border: 1px solid #DDD;
	box-shadow: 1px 1px 6px #BBB, -1px 1px 6px #BBB;
}

.classAd > .title {
	display: inline-block;
	font-weight: 800;
	margin: 4px 0 8px 0;
	font-size: 14px;
}

.classAd > .content {
	font-weight: 800;
	padding: 2px 0;
	background-color: #FFF;
	font-weight: 400;
	font-size: 13px;
	text-align: left;
	padding: 2px 10px;
	border: 1px solid #DDD;
}

.classAd .availabilityYes {
	font-weight: bold;
	color: darkgreen;
}

.classAd .enroll {
	margin: 6px 0 4px 0;
	font-weight: bold;
	background-color: #FFF;
	border-radius: 4px;
	padding: 4px;
	font-size: 13px;
	display: inline-block;
	border: 1px solid #DDD;
}

.classAd .enroll:hover {
	background-color: #F5F5F5;
	cursor: pointer;
}

footer {
	width: 960px;
	margin: 8px auto 100px auto;
}

footer > small {
	text-align: center;
	display: block;
	margin-bottom: 20px;
	font-size: 10px;
	color: #AAA;
}

footer > .footerBlock {
	display: inline-block;
	width: 280px;
	margin-right: 20px;
	vertical-align: top;
}

.footerBlock > strong {
	font-weight: 800;
	font-size: 14px;
}

.footerBlock .links {
	display: inline-block;
}

.footerBlock .links a {
	font-size: 13px;
	font-weight: 400;
}

.socialMedia > .icon {
	background-repeat: no-repeat;
	background-size: cover;
	width: 32px;
	height: 32px;
	float: right;
	margin: 0 3px;
}

.socialMedia > .icon:hover {
	cursor: pointer;
}

.socialMedia > .twitter { background-image: url('../img/sm/twitter-icon-dim.png'); }
.socialMedia > .twitter:hover { background-image: url('../img/sm/twitter-icon.png'); }

.socialMedia > .linkedin { background-image: url('../img/sm/linkedin-icon-dim.png'); }
.socialMedia > .linkedin:hover { background-image: url('../img/sm/linkedin-icon.png'); }

.socialMedia > .facebook { background-image: url('../img/sm/facebook-icon-dim.png'); }
.socialMedia > .facebook:hover { background-image: url('../img/sm/facebook-icon.png'); }
